KERNELS=="1-2.1:1.0", SUBSYSTEM=="tty" ,SYMLINK+="ttyS13"
KERNELS=="1-2.1:1.2", SUBSYSTEM=="tty" ,SYMLINK+="ttyS14"
KERNELS=="1-2.1:1.4", SUBSYSTEM=="tty" ,SYMLINK+="ttyS15"
KERNELS=="1-2.1:1.6", SUBSYSTEM=="tty" ,SYMLINK+="ttyS16"

KERNELS=="1-2.3:1.0", SUBSYSTEM=="tty" ,SYMLINK+="ttyS11"
KERNELS=="1-2.3:1.2", SUBSYSTEM=="tty" ,SYMLINK+="ttyS12"


